* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(214, 228, 218, 0.574);
  margin: 0;
  padding: 0;
}
.container {
  border: 1px solid red;
  width: 90%;
  margin: 0 auto;
}
.grid {
  display: inline-block;
  vertical-align: top;
  width: 12%;
  margin-left: 10%;
  
}
.grid {
  text-align: center;
}

.sec-block {
  text-align: center;
}
.grid1 {}


h1 {
  font-size: 25px;
}

p {
  color: rgba(122, 125, 125, 0.612);
}

.block1-icon {
  font-size: 40px;
  text-align: left;
  color: rgba(255, 247, 8, 0.679);
}

.block2-icon {
  /* text-align: center; */
}

.block1-icon {
  text-align: left;
}

.first-block-h1 {
  text-align: left;
}

.first-p {
  text-align: left;
  padding-top: 10px;
}


.block2-icon {
  font-size: 60px;
  color: rgba(62, 169, 4, 0.703);
}


